@charset "utf-8";

* {
	margin: 0;
	padding: 0;
}
h1 {
	font-size: 16px;
}
a {
	text-decoration: none;
	color: #000;
}
ul, ol {
	list-style: none;
}
img {
	max-width: 100%;
	vertical-align: top;
	border: none;
}
body {
	line-height: 1;
	font-family: "Noto Sans KR", "Roboto", sans-serif;
	font-size: 1em;
	overflow-x: hidden;
}
body.fixed {
	overflow-y: hidden;
}
.clearfix::before,
.clearfix::after {
    content: "";
    display: block;
}

/* close */
.close { 
	width: 30px; 
	height: 30px; 
	background: url(../images/close.png)no-repeat;
	background-size: contain;
    font-size: 0;
    position: fixed;
    right: 60px;
    top: 55px;
    z-index: 99;
}

/* main */
#main {
    padding: 125px 60px 0;
    overflow-x: hidden;
}

/* sec1 */
#sec1 {
    position: relative;
    display: flex;
	align-items: center;
    height: 825px;
    padding: 0 130px;
    text-align: left;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
	border: 1px solid #333;
	box-sizing: border-box;
}
#sec1::before {
    content: "";
    position: absolute;
    left: 130px;
    bottom: 154px;
    width: 92px;
    height: 1px;
    background: #fff;
}
#sec1 .bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
	background-image: url(../images/main_background.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    animation-name: zoom;
    animation-duration: 3.5s;
}
#sec1 .name {
    position: absolute;
    left: 130px;
    top: 144px;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 8px;
    color: #fff;
}
#sec1 .name::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -18px;
    width: calc(100% - 8px);
    height: 4px;
    background: #fff;
}
#sec1 h1 {
	font-size: 5.625em;
	font-weight: 400;
    color: #fff;
    line-height: 1.23;
    word-break: keep-all;
	z-index: 100;
}

#sec1 h1 span {
    display: block;
    animation-name: fadeInUp;
    animation-duration: 1s;
    animation-fill-mode: both;
}
#sec1 h1 span:nth-child(2) {
	animation-delay: 0.5s;
}
#sec1 h1 span:last-child {
    position: relative;
    font-weight: 700;
    animation-delay: 1s;
}
#sec1 h1 span:last-child::before {
    content: "";
    position: absolute;
    bottom: -94px;
    left: 0;
    width: 92px;
    height: 1px;
    background: #fff;
}
#sec1 .scroll {
    position: absolute;
    left: 50%;
    bottom: 38px;
    width: 46px;
    height: 46px;
    margin-left: -23px;
}
#sec1 .scroll span {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background: rgba(255,255,255,.1);
}
#sec1 .scroll span::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 46px;
    height: 46px;
    box-shadow: 0 0 0 0 rgba(255,255,255,.1);
    border-radius: 100%;
    /* opacity: 0; */
    animation: sdb 2s infinite;
}
#sec1 .scroll span::after {    
    content: "";
	position: absolute;
    top: 50%;
    left: 50%;
    width: 8px;
    height: 8px;
    margin: -4px 0 0 -4px;
    border-left: 2px solid #fff;
    border-bottom: 2px solid #fff;
    transform: rotate(-45deg);
    box-sizing: border-box;
}

@media only screen and (max-width: 1024px) {
	#sec1 h1 {
		font-size: 3.750em;
	}
}

@media only screen and (max-width: 1199px) {
	#main {
		padding: 80px 40px 0;
	}
	#main .close {
		right: 20px;
		top: 22px;
	}
	#sec1 {
		padding: 0 50px;
	}
	#sec1 .name {
		left: 50px;
	}
}

/* sec2 */
#sec2 {
	position: relative;
	box-sizing: border-box;
}
#sec2 .sec2_inner {
	width: 1040px;
	margin: 0 auto;
	margin-bottom: 0;
	padding: 112px 0 169px;
}
#sec2 .sec2_inner .title {
	font-size: 2.5em;
}
#sec2 .sec2_inner .title::after {
    content: "";
    display: inline-block;
    width: 54px;
    height: 7px;
    margin-left: 29px;
    background: #000;

}
#sec2 .sec2_inner .desc {
    margin: 25px 0 58px;
    font-size: 0;
}
#sec2 .sec2_inner .desc dt,
#sec2 .sec2_inner .desc dd {
    display: inline-block;
    font-size: 0.938rem;
    line-height: 24px;
    vertical-align: top;
    letter-spacing: -0.3px;
}
#sec2 .sec2_inner .desc dt {
	width: 118px;
	font-weight: 700;
}
#sec2 .sec2_inner .desc dt::after {
    content: "";
    display: inline-block;
    width: 15px;
    height: 2px;
    margin-left: 7px;
    background: #000;
}
#sec2 .sec2_inner .desc dd {
	width: calc(100% - 118px);
}
#sec2 .sec2_inner p {
	font-size: 0.983em;
    line-height: 24px;
    letter-spacing: -0.3px;
}
#sec2 .details {
    max-width: 1800px;
    margin: 0 auto;
    background: #fff;
	text-align: center;
}
#sec2 .details .pc {
	overflow: hidden;
}

@media only screen and (max-width: 1199px) {
	#sec2 .sec2_inner {
		width: calc(100% - 20px);
	}
	#sec2 .sec2_inner .title {
		font-size: 1.25em;
	}
	#sec2 .sec2_inner .title::after {
		width: 20px;
		height: 2px;
		margin-left: 10px;
	}
	#sec2 .sec2_inner .desc dt,
	#sec2 .sec2_inner .desc dd {
		font-size: 0.875em;
	}
	#sec2 .sec2_inner .desc dt::after {
		width: 10px;
		height: 1px;
		margin-left: 5px;
	}
}

/* main1 */
#main1 {
    position: relative;
    padding-bottom: 276px;
}
#main1 .main_img {
	position: relative;
	z-index: 10;
}
#main1 .main_img img {
    vertical-align: middle;
    max-width: 100%;
}
#main1 .main1_bg {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3556px;
    background: #f5f5f5;
}

/* sub1 */
#sub1 {
	width: 100%;
	height: 1498px;
	background: url(../images/overview.png) no-repeat center center;
}
#sub1 .title {
	padding-top: 240px;
	margin-bottom: 140px;
	text-align: center;
	color: #fff;
}
#sub1 .title h2 {
    margin-bottom: 44px;
    font-size: 44px;
    font-weight: 200;
}
#sub1 .title p {
    font-size: 0.938em;
    font-weight: 100;
    line-height: 24px;
    letter-spacing: -0.3px;
    color: rgba(255, 255, 255, 0.6);
}
#sub1 .sub1_cont .overview {
    padding-left: 160px;
}
#sub1 .sub1_cont .overview h3 {
    margin-bottom: 15px;    
	font-size: 1.5em;
    font-weight: 700;
    line-height: 1.4;
    color: #fff;
}
#sub1 .sub1_cont .overview .mission {
    display: flex;
    align-items: center;
    margin-bottom: 208px;
}
#sub1 .sub1_cont .overview .mission > p {
    width: 66px;
    margin-right: 150px;
    font-size: 0.938em;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.3px;
    text-align: left;
    color: #fff;
}
#sub1 .sub1_cont .overview .mission .mission_box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    width: 296px;
    height: 296px;
    background: rgba(54, 54, 54, 0.6);
    border-radius: 100%;
}
#sub1 .sub1_cont .overview .mission .mission_box:nth-child(3) {
    margin: 0 80px;
}
#sub1 .sub1_cont .overview .mission .mission_box::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -124px;
    width: 11px;
    height: 48px;
    transform: translateX(-50%);
    background: url("../images/darrow.png") no-repeat center center;
}
#sub1 .sub1_cont .overview .mission .mission_box p {
    font-weight: 400;
    line-height: 1.6;
    letter-spacing: -0.3px;
    color: rgba(255, 255, 255, 0.6);
}
#sub1 .sub1_cont .overview .goal {
	display: flex;
	align-items: flex-start;
}
#sub1 .sub1_cont .overview .goal > p {
    width: 66px;
    margin-right: 150px;
    font-size: 1em;
    font-weight: 700;
    text-align: left;
    color: #fff;
}
#sub1 .sub1_cont .overview .goal .goal_txt {
    width: 296px;
}
#sub1 .sub1_cont .overview .goal .goal_txt:nth-child(3) {
    margin: 0 80px;
}
#sub1 .sub1_cont .overview .goal .goal_txt h3 {
    margin-bottom: 0;
}
#sub1 .sub1_cont .overview .goal .goal_txt span {
    display: block;
	margin: 25px auto;
	width: 36px;
    height: 1px;
    background: #fff;
    opacity: 0.3;
}
#sub1 .sub1_cont .overview .goal .goal_txt p {
    font-size: 1.125em;
    font-weight: 400;
    line-height: 1.6;
    color: rgba(255, 255, 255, 0.6)
}

/* sub2 */
#sub2 {
    position: relative;
    padding-top: 260px;
}
#sub2 .title h2 {
    margin-bottom: 200px;
    font-size: 2.75em;
    font-weight: 700;
    text-decoration: underline;
    text-underline-offset: 7px;
}
#sub2 .sub2_txt {
    position: relative;
    margin-bottom: 83px;
}
#sub2 .sub2_txt::after {
    content: "01";
	position: absolute;
    left: 50%;
    top: -70px;
    font-size: 10em;
    font-weight: 700;
	font-family: "Roboto", sans-serif;
    color: #f5f5f5;
    transform: translateX(-45%);
}
#sub2 .sub2_txt h3 {
    position: relative;
    margin-bottom: 24px;
	font-size: 1.5em;
    font-weight: 700;
    z-index: 10;
}
#sub2 .sub2_txt p {
    position: relative;    
	font-size: 1.125em;
    font-weight: 400;
    color: #000;
    opacity: 0.6;
    line-height: 1.6;
    z-index: 10;
}
#sub2 .sub2_img {
	position: relative;
    z-index: 10;
}
#sub2 .sub2_bg {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1198px;
    background: #f5f5f5;
}

/* sub3 */
#sub3 {
    width: 100%;
    height: 5074px;
    background: url("../images/sub3_1bg.png") no-repeat center center;
}
#sub3 .sub3_content {
    padding: 120px 143px 0;
	text-align: left;
    color: #fff;
}
#sub3 .sub3_content .title {
	padding: 55px 100px 90px;
    position: relative;
}
#sub3 .sub3_content .title::after {
    content: "02";
	position: absolute;
    left: 0;
    top: 0;
    font-size: 10em;
    font-weight: 700;
	font-family: "Roboto", sans-serif;
    color: #f5f5f5;
	opacity: 0.1;
}
#sub3 .sub3_content .title h2 {
    margin-bottom: 16px;
    font-size: 1.25em;
    font-weight: 700;
}
#sub3 .sub3_content .title p {
    font-size: 1.125em;
    line-height: 1.6;
    font-weight: 400;
    color: #fff;
    opacity: 0.6;
}
#sub3 .sub3_content .sub3_cont {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
#sub3 .sub3_content .sub3_cont .left .sub3_box {
    margin-bottom: 80px;
}
#sub3 .sub3_content .sub3_cont .left .sub3_box .txt {
    display: flex;
    align-items: center;
    margin-top: 28px;
}
#sub3 .sub3_content .sub3_cont .left .sub3_box .txt .txt_icon {
	margin-right: 16px;
}
#sub3 .sub3_content .sub3_cont .left .sub3_box .txt .txt_cont span {
    display: block;
    font-size: 0.875;
    font-weight: 700;
    margin-bottom: 8px;
    opacity: 0.5;
}
#sub3 .sub3_content .sub3_cont .left .sub3_box .txt .txt_cont p {
    font-size: 0.875;
    font-weight: 400;
}
#sub3 .sub3_content .sub3_cont .left .sub3_box:nth-child(2) {
    margin-bottom: 306px;
}
#sub3 .sub3_content .sub3_cont .right {
    /* padding-top: 238px; */
	padding: 238px 0 0 15px;
}
#sub3 .sub3_content .sub3_cont .right h3 {
	margin-bottom: 16px;
	font-size: 1.125em;
    font-weight: 700;
}
#sub3 .sub3_content .sub3_cont .right .article {
    margin-bottom: 147px;
	transform: translateZ(0);
}
#sub3 .sub3_content .sub3_cont .right .article h3 {
    margin-bottom: 16px;
	font-size: 1.125em;
    font-weight: 700;
}
#sub3 .sub3_content .sub3_cont .right .article ul li {
    display: flex;
    align-items: flex-start;
}
#sub3 .sub3_content .sub3_cont .right .article ul li:nth-child(1) {
	margin-bottom: 10px;
}
#sub3 .sub3_content .sub3_cont .right .article ul li:nth-child(2) {
	margin-bottom: 10px;
}
#sub3 .sub3_content .sub3_cont .right .article .article_img {
    margin-right: 15px; 
    width: 75px;
    height: 75px;
    background: #333;

}
#sub3 .sub3_content .sub3_cont .right .article .article_cont .top {
    width: 19px;
    height: 10px;
    background: #333;
}
#sub3 .sub3_content .sub3_cont .right .article .article_cont .middle {
    width: 379px;
    height: 19px;
    background: #333;
    margin: 6px 0 15px;
}
#sub3 .sub3_content .sub3_cont .right .article .article_cont .bottom {
    width: 51px;
    height: 10px;
    background: #333;
}
#sub3 .sub3_content .sub3_cont .right .culture {
    margin-bottom: 155px;

}
#sub3 .sub3_content .sub3_cont .right .culture div {
    position: relative;
    padding-left: 11px;
}
#sub3 .sub3_content .sub3_cont .right .culture div::after {
	content: "";
	position: absolute;
    top: 0;
    left: 0;
    width: 2.5px;
    height: 62px;
    background: #333;
}
#sub3 .sub3_content .sub3_cont .right .culture span {
	display: block;
	width: 347px;
    height: 14px;
    background: #333;
}
#sub3 .sub3_content .sub3_cont .right .culture span:nth-child(1) {
	width: 320px;
}
#sub3 .sub3_content .sub3_cont .right .culture span:nth-child(2) {
	margin: 10px 0;
}
#sub3 .sub3_content .sub3_cont .right .gallery {
    padding-left: 309px;
    margin-bottom: 147px;
}
#sub3 .sub3_content .sub3_cont .right .gallery > div {
	width: 230px;
}
#sub3 .sub3_content .sub3_cont .right .gallery span {
    display: block;
    width: 230px;
    background: #333;
}
#sub3 .sub3_content .sub3_cont .right .gallery span:nth-child(2) {
	height: 280px;
    margin-bottom: 24px;
}
#sub3 .sub3_content .sub3_cont .right .gallery span:nth-child(3) {
    height: 13px;
    margin-bottom: 7px;
}
#sub3 .sub3_content .sub3_cont .right .gallery span:nth-child(4) {
    height: 8px;
    margin-bottom: 14px;
}
#sub3 .sub3_content .sub3_cont .right .gallery span:nth-child(5) {
    height: 18px;
    margin-bottom: 23px;
}
#sub3 .sub3_content .sub3_cont .right .gallery span:nth-child(5) {
    height: 18px;
    margin-bottom: 23px;
}
#sub3 .sub3_content .sub3_cont .right .gallery span:nth-child(6) {
    margin: 0 auto;
    width: 83px;
	height: 30px;
}
#sub3 .sub3_content .sub3_cont .right .slide {
    padding-left: 125px;
}
#sub3 .sub3_content .sub3_cont .right .slide .slide_cont {
	position: relative;
    width: 200px;
    height: 400px;
    background: #333;
}
#sub3 .sub3_content .sub3_cont .right .slide .slide_cont .dot {
	display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
	/* padding: 0 10px; */
}
#sub3 .sub3_content .sub3_cont .right .slide .slide_cont .dot span {
	display: block;
    width: 26px;
    height: 26px;
    background: #484848;
    border-radius: 100%;
}

#sub3 .sub3_content .sub3_cont .right .slide .slide_cont .close {
	position: absolute;
    top: 10px;
    right: 10px;
	width: 25px;
    height: 14px;
    border-radius: 50px;
    background: #484848;
}

#sub3 .sub3_content .sub3_cont .right .sub3_box {
    position: relative;
	margin-top: -32px;
}

#sub3 .sub3_content .sub3_cont .right .sub3_box .txt {
	display: flex;
    align-items: center;
    margin-top: 28px;
}

#sub3 .sub3_content .sub3_cont .right .sub3_box .txt .txt_icon {
	margin-right: 16px;
}

#sub3 .sub3_content .sub3_cont .right .sub3_box .txt .txt_cont span {
	display: block;
    font-size: 0.875em;
    font-weight: 700;
    margin-bottom: 8px;
    opacity: 0.5;
}

#sub3 .sub3_content .sub3_cont .right .sub3_box .txt .txt_cont p {
	font-size: 0.875em;
    font-weight: 400;
}

#sub3 .sub3_text {
    margin-top: 197px;
    overflow: hidden;
    position: relative;
    height: 450px;
}

#sub3 .banner-text-item:nth-child(1) {
    animation-name: banner-scroll-right;
    animation-direction: normal;
}

#sub3 .banner-text-item:nth-child(2) {
    animation-name: banner-scroll-left;
    animation-direction: reverse;
    top: 222px;
}

#sub3 .banner-text-item {
    height: 222px;
    width: 100%;
    position: absolute;
    display: block;
    -webkit-text-stroke: 1px #fff;
    opacity: 0.3;
    font-size: 180px;
    font-weight: 700;
    color: transparent;
    white-space: nowrap;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@media only screen and (min-width: 1900px) {
	#sub3 .sub3_content .sub3_cont .sub3_box img {
		image-rendering: pixelated;
	}
}

/* sub4 */
#sub4 {
	position: relative;
	padding: 200px 0;
    text-align: left;
}

#sub4::after {
	position: absolute;
    content: "movv";
    font-size: 37.5em;
    font-weight: 600;
	font-family: "Roboto", sans-serif;
    color: #f5f5f5;
    left: 0;
    top: 380px;
    z-index: 0;
    opacity: 0.6;
}

#sub4 .sub4_content {
	display: flex;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
	padding: 0 263px;
    z-index: 10;
}

#sub4 .sub4_content .title {
	position: relative;
}

#sub4 .sub4_content .title::after {
	position: absolute;
    content: "03";
    left: -100px;
    top: -50px;
    font-size: 10em;
    font-weight: 700;
	font-family: "Roboto", sans-serif;
    color: #000;
    opacity: 0.1;
}

#sub4 .sub4_content .title h2 {
    margin-bottom: 16px;
	font-size: 1.5em;
    font-weight: 700;
}

#sub4 .sub4_content .title p {
	font-size: 1.125em;
    line-height: 1.6;
    font-weight: 400;
    color: #000;
    opacity: 0.6;
}

#sub4 .sub4_content .cont .option {
	padding-top: 45px;
}

#sub4 .sub4_content .cont .option div {
	display: flex;
    align-items: center;
    margin-bottom: 8px;
}

#sub4 .sub4_content .cont .option p {
	font-size: 1.125em;
    font-weight: 600;
    color: #555;
    margin-right: 16px;
    line-height: 1;
}

#sub4 .sub4_content .cont .option span {
	font-size: 0.875em;
    font-weight: 600;
    color: #888;
}

#sub4 .sub4_content .cont .option h3 {
	font-size: 8.75em;
    font-weight: 600;
	font-family: "Roboto", sans-serif;
    color: #000;
}

#sub4 .palette {
    display: flex;
    align-items: center;
    position: relative;
    margin-top: 120px;
    width: 100%;
    z-index: 10;
}

#sub4 .palette .color {
	display: flex;
    flex-direction: column;
	height: 345px;
    padding: 32px 24px;
}

#sub4 .palette .color p {
    font-size: 0.875em;
    font-weight: 600;
}

#sub4 .palette .color h4 {
    font-size: 1em;
    font-weight: 700;
}

#sub4 .palette .color span {
	display: block;
    margin-top: auto;
	font-size: 0.875em;
    font-weight: 700;
    color: #888;
}

#sub4 .palette .color1 {
	width: 16.7%;
    background: #16C3D9;
}

#sub4 .palette .color2 {
    width: 33.3%;
    background: #090D2B;
    color: #fff;
}

#sub4 .palette .color3 {
    width: 50%;
    background: #1ECC8F;
}

/* mobile */
.mobile {
	background: #f5f5f5;
	text-align: left;
	padding-bottom: 100px;
}

.mobile .tit {
	position: relative;
	padding: 190px 0 90px 558px;
}

.mobile .tit::after {
	position: absolute;
	content: "04";
	left: 458px;
	top: 130px;
	font-size: 160px;
	font-weight: 700;
	color: #fff;
}

.mobile .tit h2 {
	font-size: 24px;
	font-weight: 700;
	margin-bottom:16px;
	position:relative;
	z-index: 10
}

.mobile .tit p {
	font-size: 18px;
	font-weight: 400;
	color: #000;
	opacity: 0.6;
	line-height: 1.6;
	position: relative;
	z-index: 10;
}

.mobile .mobile_cont {
	display: flex;
	align-items: flex-start;
	justify-content: center;
}

.mobile .mobile_cont .mid {
	margin: 0 60px;
}

.mobile .mobile_cont .left,
.mobile .mobile_cont .right {
	padding-top: 100px;
}

.mobile .mobile_cont > div > div:last-child {
	margin-top: 60px;
}

/* PDF */
.guide {
	position: fixed;
	right: 60px;
	bottom: 40px;
	z-index: 9999;
}

.guide.active a {
	background-color: rgba(0,0,0,1);
}

.guide a {
	position: relative;
	display: block;
	width: 150px;
	line-height: 150px;
	text-align: center;
	font-size: 0.875em;
	background-color: rgba(0,0,0,.6);
	color: #fff;
	border-radius: 50%;
	text-shadow: 0 0 4px rgba(0,0,0,.5);
	transition: background-color 0.6s;
}

.guide a::after {
	content: "";
	position: absolute;
	left: 50%;
	top: 62%;
	width: 15px;
	height: 15px;
	background: url(../images/arrow.png) no-repeat;
	background-size: 15px;
	transform: translateX(-50%);
}

.guide a:hover,
.guide a:focus {
	background-color: rgba(165,42,42,1);
}

@keyframes zoom {
	0% {
		transform: scale(1.1,1.1);
	}
	100% {
		transform: scale(1,1);
	}
}

@keyframes fadeInUp {
	from {
		opacity: 0;
		transform: translate3d(0, 50px, 0);
	}

	to {
		opacity: 1;
		transform: none;
	}
}

@keyframes banner-scroll-right {
	0% {
	right: 100%;
	}
	
	100% {
	right: -100%;
	}
}

@keyframes banner-scroll-left {
	0% {
		left: -100%;
	}
	
	100% {
		left: 100%;
	}
}